body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: Arial, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  
}

nav.navbar.navbar-default {
	background-color: gray;

}

div.navbar-brand {
	font-size: 2em;
}

div.navbar-brand a {
	color: black;
}
button.navbar-toggle.visible-xs.visible-sm {
  float: right;
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.nav-list {
  color: black;
  background-color: white;
}

}
.navbar-header h1 { /* Restaurant name */
  font-family: Arial, serif;
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height:1.5;
  
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-toggle{
    display:none;
  }
  #collapsable-nav{
    display:none;
  }
}

.menu-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.main-section {
  background-color: gray;
  margin: 10px 10px 10px 10px;
  height: 2500px;
}


.main-section h2 {
  text-align: center;
  font-weight: bold;
}
